<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Friends</h1>
  <ul>
    <% @friends_list.each do |friend| %>
      <li><%=friend['friend_first_name'] + friend['friend_last_name']%></li>
    <% end %>
  </ul>
</body>
</html>